li {
  padding: 5px;
  margin: 5px;
  background: #ebe5dd;
}

body {
  background-color: rgb(250, 188, 73);
  margin: 0, auto;
}

img {
  margin: 0, auto;
  display: block;
}

#new {
  float: left;
}

#eaten {
  float: right;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: rgb(250, 188, 73);
}

.form-group {
  margin-bottom: 5px;
}
